In [1]:
import numpy as np

In [12]:
S1='INSPECTION'
S2='SUSPENSION'
print(len(S1),len(S2))

10 10

In [13]:
mat=np.zeros((len(S1)+1,len(S2)+1),dtype=np.uint8)
print(list(S1))
print(list(S2))

['I', 'N', 'S', 'P', 'E', 'C', 'T', 'I', 'O', 'N']
['S', 'U', 'S', 'P', 'E', 'N', 'S', 'I', 'O', 'N']

In [9]:
for i in range(len(mat[0])):
    for j in range(len(mat[1])):
        if i==0:
            mat[i][j]=j
        if i!=0 and j==0:
            mat[i][j]=i
print(mat)

[[0 1 2 3 4 5 6 7 8 9]
 [1 0 0 0 0 0 0 0 0 0]
 [2 0 0 0 0 0 0 0 0 0]
 [3 0 0 0 0 0 0 0 0 0]
 [4 0 0 0 0 0 0 0 0 0]
 [5 0 0 0 0 0 0 0 0 0]
 [6 0 0 0 0 0 0 0 0 0]
 [7 0 0 0 0 0 0 0 0 0]
 [8 0 0 0 0 0 0 0 0 0]
 [9 0 0 0 0 0 0 0 0 0]]

In [16]:
import pandas as pd
for i in range(len(S1)):
    for j in range(len(S2)):
        if S1[i]==S2[j]:
            mat[i+1][j+1]=mat[i][j]
        else:
            m=min(mat[i+1][j],mat[i][j],mat[i][j+1])
            mat[i+1][j+1]=m+1
word=np.matrix(mat[1:,1:])
pd.DataFrame(word,index=list(S1),columns=list(S2))
#pd.DataFrame(word)

   S  U  S  P  E  N  S  I  O  N
I  1  1  1  1  1  1  1  0  1  1
N  1  2  2  2  2  1  2  1  1  1
S  0  1  2  3  3  2  1  2  2  2
P  1  1  2  2  3  3  2  2  3  3
E  1  2  2  3  2  3  3  3  3  4
C  1  2  3  3  3  3  4  4  4  4
T  1  2  3  4  4  4  4  5  5  5
I  1  2  3  4  5  5  5  4  5  6
O  1  2  3  4  5  6  6  5  4  5
N  1  2  3  4  5  5  6  6  5  4